<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nanodegree.dfw.perm.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_movie_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.Bridge">

        <service android:name=".data.background.services.WidgetIntentService" />
        <service android:name=".data.background.services.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".utilities.widget.RecipesWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipes_widget_info" />
        </receiver>

        <activity
            android:name=".ui.PhoneActSteps"
            android:label="Recipe Elaborated" />
        <activity
            android:name=".ui.DetailsActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".app.MainActivity" />
        <activity
            android:name=".app.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>